In [ ]:
# import numpy as np
# R = np.array([1, 2, 3, 4, 5, 6]) #初始化一组数据
# R_var = np.var(R)  #计算方差
# R_mean = np.mean(R) #计算均值
# R_ku = np.mean((R - R_mean) ** 4) / pow(R_var, 2) #计算峰度
# print(R_ku)

In [ ]:
# print(R - R_mean)

In [ ]:
# from scipy.fftpack import fft
# #取樣點選擇1400個，因為設定的訊號頻率分量最高為600赫茲，根據取樣定理知取樣頻率要大於訊號頻率2倍，所以這裡設定取樣頻率為1400赫茲（即一秒內有1400個取樣點，一樣意思的）
# x=np.linspace(0,1,1400) 
 
# #設定需要取樣的訊號，頻率分量有180，390和600
# y=7*np.sin(2*np.pi*180*x) + 2.8*np.sin(2*np.pi*390*x)+5.1*np.sin(2*np.pi*600*x)
# print(y)
# yy=fft(y)      #快速傅立葉變換
# print(yy)

In [ ]:
# from scipy.stats import kurtosis

# kurtosis(y)

In [ ]:
# N = 316
# dataX = np.linspace(0,1,N)
# datay = np.zeros(N)

# def GenSin(x,Hz):
#     return np.sin(2*np.pi*Hz*x)


# for i in range(0,N):
#     datay[i] = GenSin(dataX[i],0.1721689652)
    
# print(datay)

In [31]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
import os
import math
from scipy.stats import kurtosis,skew#new
from scipy.fftpack import fft#new
from datetime import datetime
path='D:\\福壽_產學資料\\製粒機_資料重新合併\\0803\\'
file_list = os.listdir(path)
file_list

['2020080300_clean.json',
 '2020080301_clean.json',
 '2020080302_clean.json',
 '2020080303_clean.json',
 '2020080304_clean.json',
 '2020080305_clean.json',
 '2020080306_clean.json',
 '2020080307_clean.json',
 '2020080308_clean.json',
 '2020080309_clean.json',
 '2020080310_clean.json',
 '2020080311_clean.json',
 '2020080312_clean.json',
 '2020080313_clean.json',
 '2020080314_clean.json',
 '2020080315_clean.json',
 '2020080316_clean.json',
 '2020080317_clean.json',
 '2020080318_clean.json',
 '2020080319_clean.json',
 '2020080320_clean.json',
 '2020080321_clean.json',
 '2020080322_clean.json',
 '2020080323_clean.json']

In [32]:
df_origin = pd.read_json(path+file_list[1])
df_origin

                  Timestamp        Z1        Z2
0       2020-08-03 01:00:00 -0.092773  1.308594
1       2020-08-03 01:00:00 -0.092773  1.322021
2       2020-08-03 01:00:00 -0.062256  1.319580
3       2020-08-03 01:00:00 -0.092773  1.319580
4       2020-08-03 01:00:00 -0.108643  1.317139
...                     ...       ...       ...
1138241 2020-08-03 01:59:00 -0.097656  1.269531
1138242 2020-08-03 01:59:00 -0.092773  1.322021
1138243 2020-08-03 01:59:00 -0.085449  1.324463
1138244 2020-08-03 01:59:00 -0.092773  1.324463
1138245 2020-08-03 01:59:00 -0.290527  1.308594

[1138246 rows x 3 columns]

In [33]:
#將分鐘存入list
list_timestamp=[]

for i in df_origin['Timestamp']:
    if not(i in list_timestamp):
        list_timestamp.append(i)
list_timestamp

[Timestamp('2020-08-03 01:00:00'),
 Timestamp('2020-08-03 01:01:00'),
 Timestamp('2020-08-03 01:02:00'),
 Timestamp('2020-08-03 01:03:00'),
 Timestamp('2020-08-03 01:04:00'),
 Timestamp('2020-08-03 01:05:00'),
 Timestamp('2020-08-03 01:06:00'),
 Timestamp('2020-08-03 01:07:00'),
 Timestamp('2020-08-03 01:08:00'),
 Timestamp('2020-08-03 01:09:00'),
 Timestamp('2020-08-03 01:10:00'),
 Timestamp('2020-08-03 01:11:00'),
 Timestamp('2020-08-03 01:12:00'),
 Timestamp('2020-08-03 01:13:00'),
 Timestamp('2020-08-03 01:14:00'),
 Timestamp('2020-08-03 01:15:00'),
 Timestamp('2020-08-03 01:16:00'),
 Timestamp('2020-08-03 01:17:00'),
 Timestamp('2020-08-03 01:18:00'),
 Timestamp('2020-08-03 01:19:00'),
 Timestamp('2020-08-03 01:20:00'),
 Timestamp('2020-08-03 01:21:00'),
 Timestamp('2020-08-03 01:22:00'),
 Timestamp('2020-08-03 01:23:00'),
 Timestamp('2020-08-03 01:24:00'),
 Timestamp('2020-08-03 01:25:00'),
 Timestamp('2020-08-03 01:26:00'),
 Timestamp('2020-08-03 01:27:00'),
 Timestamp('2020-08-03 01:28:00'),
 Timestamp('2020-08-03 01:29:00'),
 Timestamp('2020-08-03 01:30:00'),
 Timestamp('2020-08-03 01:31:00'),
 Timestamp('2020-08-03 01:32:00'),
 Timestamp('2020-08-03 01:33:00'),
 Timestamp('2020-08-03 01:34:00'),
 Timestamp('2020-08-03 01:35:00'),
 Timestamp('2020-08-03 01:36:00'),
 Timestamp('2020-08-03 01:37:00'),
 Timestamp('2020-08-03 01:38:00'),
 Timestamp('2020-08-03 01:39:00'),
 Timestamp('2020-08-03 01:40:00'),
 Timestamp('2020-08-03 01:41:00'),
 Timestamp('2020-08-03 01:42:00'),
 Timestamp('2020-08-03 01:43:00'),
 Timestamp('2020-08-03 01:44:00'),
 Timestamp('2020-08-03 01:45:00'),
 Timestamp('2020-08-03 01:46:00'),
 Timestamp('2020-08-03 01:47:00'),
 Timestamp('2020-08-03 01:48:00'),
 Timestamp('2020-08-03 01:49:00'),
 Timestamp('2020-08-03 01:50:00'),
 Timestamp('2020-08-03 01:51:00'),
 Timestamp('2020-08-03 01:52:00'),
 Timestamp('2020-08-03 01:53:00'),
 Timestamp('2020-08-03 01:54:00'),
 Timestamp('2020-08-03 01:55:00'),
 Timestamp('2020-08-03 01:56:00'),
 Timestamp('2020-08-03 01:57:00'),
 Timestamp('2020-08-03 01:58:00'),
 Timestamp('2020-08-03 01:59:00')]

In [34]:
df_min = df_origin.loc[df_origin['Timestamp'] == '2020-08-03 01:00:00']
df_min

                Timestamp        Z1        Z2
0     2020-08-03 01:00:00 -0.092773  1.308594
1     2020-08-03 01:00:00 -0.092773  1.322021
2     2020-08-03 01:00:00 -0.062256  1.319580
3     2020-08-03 01:00:00 -0.092773  1.319580
4     2020-08-03 01:00:00 -0.108643  1.317139
...                   ...       ...       ...
18996 2020-08-03 01:00:00 -0.079346  1.322021
18997 2020-08-03 01:00:00 -0.009766  1.301270
18998 2020-08-03 01:00:00 -0.079346  1.308594
18999 2020-08-03 01:00:00 -0.076904  1.337891
19000 2020-08-03 01:00:00 -0.092773  1.317139

[19001 rows x 3 columns]

In [75]:
minute = df_min.shape[0]
minute
HZ = minute/60
print(HZ)

316.68333333333334

In [6]:
rem = df_min.shape[0]%60
sec_space = np.linspace(1, 60, rem)
print(sec_space)
sec_list = []
for i in sec_space:
    sec_list.append(math.floor(i))
print(sec_list)
min_count = df_min.shape[0]
print(min_count)
count = min_count/60
print(count)
sec_count = []
for i in range(60):
    sec_count.append(math.floor(count))
print(sec_count)
for i in sec_list:
    sec_count[i-1] = sec_count[i-1]+1
print(sec_count)

[ 1.     2.475  3.95   5.425  6.9    8.375  9.85  11.325 12.8   14.275
 15.75  17.225 18.7   20.175 21.65  23.125 24.6   26.075 27.55  29.025
 30.5   31.975 33.45  34.925 36.4   37.875 39.35  40.825 42.3   43.775
 45.25  46.725 48.2   49.675 51.15  52.625 54.1   55.575 57.05  58.525
 60.   ]
[1, 2, 3, 5, 6, 8, 9, 11, 12, 14, 15, 17, 18, 20, 21, 23, 24, 26, 27, 29, 30, 31, 33, 34, 36, 37, 39, 40, 42, 43, 45, 46, 48, 49, 51, 52, 54, 55, 57, 58, 60]
19001
316.68333333333334
[316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316, 316]
[317, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317, 317, 316, 317]

In [78]:
#Spectrum頻譜
#Spectrum = []#頻譜
Spectrum_mean=[]#頻譜平均
Spectrum_std = []#頻譜標準差
Spectrum_mad = []#頻譜偏差
Spectrum_kur = []#頻譜峰度
Energy_signal = []#訊號能量
df_Z1 = df_min['Z1']
print(df_Z1)
#      print(df_Z1)
#         print(sec_count[i])
def FFT(x,Hz):
    return np.sin(2*np.pi*x*Hz)

#dataX = np.linspace(0,1,sec_count[i]) #取樣數
#         print(sec_count[1])
dataY = np.zeros(minute)
print(dataY)
for j in range(0,minute):
    dataY[j] = FFT(df_Z1[j],HZ)
Spectrum = np.abs(fft(dataY))

Spectrum_mean.append(np.mean(Spectrum))
print('頻譜平均',np.mean(Spectrum))
Spectrum_std.append(np.std(Spectrum))
print('頻譜標準差',np.std(Spectrum))
Spectrum_mad.append(skew(Spectrum))
print('頻譜偏差',skew(Spectrum))
Spectrum_kur.append(kurtosis(Spectrum))
print('頻譜峰度',kurtosis(Spectrum))
Energy_signal.append((np.mean(Spectrum)**2))
print('能量訊號',np.mean(Spectrum)**2)

print(Spectrum_mean)
print(Spectrum_std)
print(Spectrum_mad)
print(Spectrum_kur)
print(Energy_signal)

0       -0.092773
1       -0.092773
2       -0.062256
3       -0.092773
4       -0.108643
           ...
18996   -0.079346
18997   -0.009766
18998   -0.079346
18999   -0.076904
19000   -0.092773
Name: Z1, Length: 19001, dtype: float64
[0. 0. 0. ... 0. 0. 0.]
頻譜平均 85.65488115972774
頻譜標準差 44.76300483115809
頻譜偏差 0.6087600362602249
頻譜峰度 0.19896347580239215
能量訊號 7336.758666487081
[85.65488115972774]
[44.76300483115809]
[0.6087600362602249]
[0.19896347580239215]
[7336.758666487081]

In [46]:
print(df_Z1)

0       -0.092773
1       -0.092773
2       -0.062256
3       -0.092773
4       -0.108643
           ...
18996   -0.079346
18997   -0.009766
18998   -0.079346
18999   -0.076904
19000   -0.092773
Name: Z1, Length: 19001, dtype: float64

In [52]:
#峰質因數
crest = np.max(np.abs(df_Z1))/np.sqrt(np.mean(np.square(df_Z1)))
crest

4.979961696967991

In [54]:
#脈衝因數
impluse = np.max(df_Z1)/np.abs(np.mean(df_Z1))
impluse

3.5675394554507234

In [64]:
Max = np.max(df_Z1)
ABS = np.abs(df_Z1)
mean = np.mean(df_Z1)
print(Max)
#print(ABS)
print(mean)
std = np.std(df_Z1)
print(std)
print(pow(mean,2))
print(math.sqrt(pow(mean,2)))
print(pow(std,2))
RMS=math.sqrt(pow(mean,2) + pow(std,2))
RMS

0.3210449219
-0.08999057358972899
0.057651266590232134
0.008098303335008428
0.08999057358972899
0.0033236685394580157

0.1068736257196622

In [66]:
ShaprFactor = RMS/np.mean(np.abs(df_Z1))
print(ShaprFactor)

1.1010082884899854

In [68]:
MarginFactor = np.max(df_Z1)/pow(np.mean(np.abs(df_Z1)),2)
print(MarginFactor)

34.07264867609003

In [69]:
print('頻譜峰度',kurtosis(df_Z1))

頻譜峰度 11.795506949453628

In [70]:
print('能量訊號',np.mean(df_Z1)**2)

能量訊號 0.008098303335008428

In [79]:
np.ptp(df_Z1)

0.8532714844

In [80]:
19001/24

791.7083333333334